.gallery-image {
    min-width: 360px;
max-height: 200px;
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;


}


.container {
    max-width: 1128px;
   
}


.gallery-link {
    min-width: 360px;
    max-height: 200px;
    display: block;
}

li {
    transition: scale 1.1s;
}

li:hover,
li:focus {
    scale: 1.1;
}


.list-link{
    display: flex;
  margin-top: auto;
  margin-bottom: auto;
    align-items: center;
    flex-direction: column;
    gap: 60px;
  
}

body{
    background-color: rgba(54, 33, 73, 0.616);
    font-family: "Montserrat", sans-serif;
}

.item-link{
    font-size: 56px;
    color: rgba(103, 255, 1, 0.979);
    font-style: italic;
  background-color: rgba(112, 29, 101, 0.267);
  border: 1px black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
transition: color 1s;
cursor: pointer;
}

.item-link:hover,
.item-link:focus {
color: brown;
}

.button-link{
     
            font-size: 36px;
            color: rgba(103, 255, 1, 0.979);
            font-style: italic;
            background-color: rgba(112, 29, 101, 0.267);
            border: 1px black;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
     
            box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
            transition: color 1s;
           
            cursor: pointer;
        max-width: 100px;
       margin-left: 50px;
        margin-top: 50px;
}

.button-link:hover,
.button-link:focus {
    color: brown;
    scale: 1.1;
}

.feedback-form{
margin: 0 auto;
  display: flex;
  flex-direction: column;
    align-items: start;
}

button{
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
  min-width: 95px;
 
       
        background: #4e75ff;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            border: none;
            margin-top: 8px;
            transition: background-color 1s;
            padding: 8px 16px;
}

button:hover,
button:focus {
   background-color:  #6c8cff;

}

label{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
 margin-bottom: 8px;

    
}
input{
    margin-top: 8PX;
  
    display: block;
border: 1px solid #808080;
    border-radius: 4px;
   min-width: 360px;
    max-height: 40px;
    padding-left: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
        padding-top: 8px;
        padding-bottom: 8px;
font-family: "Montserrat", sans-serif;box-shadow: none;
}



input:hover,
input:focus,
textarea:hover,
textarea:focus{
    outline: black;
border: 1px solid black;
   
}
  input,
  textarea{
      border-color: #808080;}

textarea{font-family: "Montserrat", sans-serif;
    resize: none;
   padding-left: 16px;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
        padding-top: 8px;
    margin-top: 8PX;
    display: block;
    border: 1px solid #808080;
        border-radius: 4px;
        min-width: 360px;
       max-height: 80px;
}