.gallery-image {
    max-width: 320px;

    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;


}


.container {
    max-width: 1128px;
   
}


.gallery-link {
    max-width: 320px;
    display: block;
}

li {
    transition: scale 1.1s;
}

li:hover,
li:focus {
    scale: 1.1;
}


.list-link{
    display: flex;
  margin-top: auto;
  margin-bottom: auto;
    align-items: center;
    flex-direction: column;
    gap: 60px;
  
}

body{
    background-color: rgba(54, 33, 73, 0.616)
}

.item-link{
    font-size: 56px;
    color: rgba(103, 255, 1, 0.979);
    font-style: italic;
  background-color: rgba(112, 29, 101, 0.267);
  border: 1px black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
transition: color 1s;
cursor: pointer;
}

.item-link:hover,
.item-link:focus {
color: brown;
}